<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.TimeMapper">
<!-- XML Mapper 이용 시 mapper태그의 namespace속성값 중요 -->

	<!-- 태그의 id속성의 값은 메서드의 이름과 동일하게 맞춰야 한다. resultType 속성은
	id값의 메서드의 리턴 값과 일치해야한다.-->
	<select id="getTime2" resultType="String">
		SELECT NOW() FROM dual
	</select>


</mapper>